<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @todo_manager.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @todo_manager.description %>
</p>

<p>
  <strong>To be completed by:</strong>
  <%= @todo_manager.deadline %>
</p>

<p>
  <strong>Completed at:</strong>
  <%= @todo_manager.completed_at %>
</p>

<p>
  <strong>Completed ?</strong>
  <% if @todo_manager.completed %>
    <%= "Completed" %>
    <% else %>
    <%= "Not completed" %>
    <% end %>
</p>




<%= link_to 'Edit', edit_todo_manager_path(@todo_manager) %> |
<%= link_to 'Back', todo_managers_path %>
